A=123
B=456
DISCORD_TOKEN=YOUR DISCORD TOKEN GOES HERE

token=YOUR DISCORD TOKEN GOES HERE

clientSecret=YOUR DISCORD CLIENT SECRETE GOES HERE
clientID=YOUR DISCORD CLIENT ID GOES HERE

consumer_key=YOUR TWITTER/X CUSTOMER KEY GOES HERE
consumer_secret=YOUR TWITTER/X CUSTOMER SECRET GOES HERE
access_token=YOUR TWITTER/X ACCESS TOKEN GOES HERE
access_token_secret=YOUR TWITTER/X ACCESS TOKEN SECRET GOES HERE

twitch_clientID=YOUR TWITCH CLIENT ID GOES HERE
twitch_secret=YOUR TWITCH SECRET GOES HERE